/* Naziya = 'naziya' */
.naziya{
    background-color: aquamarine;
    height: 500vh;
    position: relative;
}

.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin: auto;
    position: absolute;
    text-align: center;
}

.cta {
    position: fixed;
    bottom: 20px;
    right:20px;
    width: 60px;
    height: 60px;
    border-radius:50%;
    background: red;
    z-index: 1;
    transition: all 1s;
    margin-left: 20px;
}

.hide {
    opacity:0;
    left:-100%;
}

.show {
    opacity:1;
    left:0;
}