/* Naziya = 'naziya' */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 250px;
    aspect-ratio: 9/16;
	perspective: 800px;
}

.container:hover > .card {
	cursor: pointer;
	transform: rotateY(180deg);
}

.card {
	height: 100%;
	width: 100%;
	position: relative;
	transition: transform 1500ms;
	transform-style: preserve-3d;
}

.front,.back {
	height: 100%;
	width: 100%;
	border-radius: 15px;
	box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
	position: absolute;
	backface-visibility: hidden;
}

.front {
	background-image: url('Assets/image1.webp');
    background-size: cover;
}

.back {
	background-image: linear-gradient(#eb9159, #0f2b2a);
    backdrop-filter: blur(20px);
    border: 2px solid white;
	transform: rotateY(180deg);
	display: flex;
    color: white;
    padding: 20px;
    text-align: justify;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
}

.back h1{
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 20px;
}