/* Naziya = 'naziya' */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-box{
    margin: 0;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    background: #ffffff;
    height: 40px;
    border-radius: 40px;
    border-color: #7A0AEB;
    border-style: solid;
    padding: 10px;
}

.search-box:hover > input{
    width: 200px;
    padding: 0 10px;

}
.search-box:hover .icon{
    transition: all 700ms;
    transform: rotate(180deg);
}
input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
    color: #fff;
}

.icon{
    color: #21dfcd;
    float: right;
    width: 40px;
    font-size: 1.3rem;
    height: 40px;
    border-radius: 50%;
    border-color: #ffffff;
    border-style: solid 2px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
