/* Naziya = 'naziya' */
body{
    background-color: #a04;
    color: #fff;
    padding: 0;
    margin: 0;
}

.maineyeball{
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
}
#eyes, #eyes img{
    position: absolute;
}

