/* Naziya = 'naziya' */
.imgnaz {
	display: block;
	max-width: 100%;
}

main {
	display: grid;
	place-items: center;
	min-height: 100vh;
}

:root {
	--positionnaz: 50%;
}

.containernaz {
	display: grid;
	place-content: center;
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
	margin-top: 20px;
}

.image-containernaz {
	max-width: 800px;
	max-height: 90vh;
	aspect-ratio: 1/1;
}

.slider-imagenaz {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
}

.image-beforenaz {
	position: absolute;
	inset: 0;
	width: var(--positionnaz);
}

.slidernaz {
	position: absolute;
	inset: 0;
	cursor: pointer;
	opacity: 0;
	width: 100%;
	height: 100%;
}

.slidernaz:focus-visible ~ .slider-buttonnaz {
	outline: 5px solid black;
	outline-offset: 3px;
}

.slider-linenaz {
	position: absolute;
	inset: 0;
	width: 0.2rem;
	height: 100%;
	background-color: #fff;
	/* z-index: 10; */
	left: var(--positionnaz);
	transform: translateX(-50%);
	pointer-events: none;
}

.slider-buttonnaz {
	position: absolute;
	background-color: #fff;
	color: black;
	padding: 0.5rem;
	border-radius: 100vw;
	display: grid;
	place-items: center;
	top: 50%;
	left: var(--positionnaz);
	transform: translate(-50%, -50%);
	pointer-events: none;
	/* z-index: 100; */
	box-shadow: 1px 1px 1px hsl(0, 50%, 2%, 0.5);
}

.phototitletop1 {
	width: 243px;
	z-index: 9990;
	position: absolute;
	align-self: center;
	top: 30px;
	justify-self: center;
	justify-content: center;
	background-color: transparent;
	-webkit-background-clip: text;
}

.phototitletop {
	background-color: rgb(25, 156, 250);
	width: var(--positionnaz);
	-webkit-background-clip: text;
}

.phototitle {
	user-select: none;
	z-index: 9999;
	width: fit-content;
	color: transparent;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 40px;
	width: 310px;
	background-color: transparent;
}
